
/**/
*{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(22, 22, 22);
    color: #f2f2f2;
}

.navbar p{
    margin-left: 5%;
}

.navbar .links{
    margin: auto;
}
.navbar .links a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

  header {
    background-color: #000000;
    padding: 20px 0;
  }
  
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .logo {
    text-align: left;
    color: #ffffff;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .spacer {
    width: 100px;
  }

/**/
footer {
  background-color: #000000;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
    padding: 40px;
    
  }

  .container-footer h3{
    color: rgb(255, 159, 5);
  }
  
  .footer-left {
    margin-top: 20px;;
    width: 250px;
    height: 250px;
  
    
  }
  .footer-left a{
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  }
  
  .footer-middle {
    text-align: left;
    margin:0 10px;
    
  }
  
  .footer-middle ul {
    list-style: none;
    padding: 0;
    text-align: left;
    
  }
  
  .footer-middle p {
    color: #ff9f05;
    text-align: left;
    font-size: 20px;
    
  }
  
  .footer-middle ul li {
    margin: 5px 0;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .footer-right {
    text-align: right;
    padding-top:20px;
    
  }
  
  .footer-right h3 {
    
   text-align: center;
  }
  
  
  
  .footer-right input {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top:20px;
    margin-bottom:20px;
    width: 70%;
  }
  .footer-buttom{
    padding:20 px;
    height: 38px;
    width: px;
    background-color: #ff9f05;
    padding: 2px 2px;
  }
  
  .iconos{
    margin: auto;
    margin: 10px;  /* Espacio entre las imágenes */

    border-radius: 50%; /* Hace que las imágenes sean circulares (opcional) */
    justify-content:center;
    display: flex;               
   
    align-items: center; 

  }
  
  .iconos img{
    margin-right: 10px;
  }
  .footer-copyright {
    text-align: center;
    padding: 20px;
    padding-left: 250px;
    border-top: 1px solid #504e4e;
    text-align: left;
    color: #ddd;
  }