/*--------------------------------------------------AJUSTES GENERALES--------------------------------------------------*/
*{
    box-sizing: border-box;
}

h1{
    letter-spacing: -2px;
}

body{
    background-color: #f2f2f2;
    margin: 0;
}
  

/*--------------------------------------------------Carrousel--------------------------------------------------*/
.contenedor-Carrousel{
    background-image: url(/img/img_tutoriales/tuto4.jpg);
    background-size: cover;
    display: flex;
    padding-right: 50%;
    padding-left: 15%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contenedor-Carrousel .contenedor-Informacion{
    align-items: center;
    text-align: start;
    color: whitesmoke;
}

.contenedor-Carrousel .contenedor-Informacion .titulo{
    font-weight: 500;
    font-size: 2.3rem;
}

.contenedor-Carrousel .contenedor-Informacion span{
    font-weight: 1000;
    font-size: 2.5rem;
}

.contenedor-Carrousel .contenedor-Informacion p{
    font-size: 1rem;
    font-weight: 100;
}

.contenedor-Carrousel .contenedor-Informacion input{
    padding: 10px 25px 10px 25px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px whitesmoke solid;
    cursor: pointer;
}

.contenedor-Carrousel .contenedor-Vacio{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
}
/*------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------PRODUCTOS--------------------------------------------------*/
.contenedor-Productos {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 1rem;
}

.contenedor-Productos .productos{
    display: flex;
}

.contenedor-Productos .productos article{
    margin: 20px;
}

.contenedor-Productos .productos article img{
    width: 150px;
    height: 150px;
}

.contenedor-Productos .productos article p{
    text-align: center;
    font-weight: bold;
    font-size: .7rem;
    
}

/*--------Recetas--------*/
.contenedor-Productos .contenedor-Recetas{
    display: flex;
    gap: 50px;
}

.contenedor-Recetas article{
    padding: 20px;
    width: 100%;
    height: auto;
}

.contenedor-Recetas .receta-1, .receta-2{
    display: flex;
    background-image: url(/img/img_tutoriales/tuto2.jpg);
}

.contenedor-Recetas span{
    font-size: .5rem;
    padding: 2px 4px 2px 4px;
    background-color: white;
}

.contenedor-Recetas h1{
    font-size: 2rem;
    color: white;
}

.contenedor-Recetas input{
    background-color: black;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

.contenedor-Recetas .receta-2 input{
    margin-top: 12.5%;
}

/*----------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------CAFES--------------------------------------------------*/

.contenedor-Cafes{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
}

.contenedor-Cafes h1{
    font-weight: 1000;
    font-size: 2.5rem;
}

.contenedor-Cafes h3{
    font-size: 1rem;
    color: brown;
    font-weight: 100;
}

.contenedor-Cafes .informacion-Cafe{
    display: flex;
    width: 75%;
    justify-content: center;
}

.contenedor-Cafes .informacion-Cafe .bloque-Cafe{
    display: grid;
    margin: 0;
}

.contenedor-Cafes .informacion-Cafe .bloque-Cafe h2{
    color: rgb(224, 140, 91);
    font-weight: 1000;
}

.contenedor-Cafes .informacion-Cafe .bloque-Cafe p{
    color: dimgrey;
}

.contenedor-Cafes .informacion-Cafe .bloque-Cafe article{
    width: 100%;
    max-width: 500px;
}

.contenedor-Cafes .informacion-Cafe .bloque-Cafe img{
    margin: 20px 20px 0 20px;
}

#bloque-1{
    text-align: end;
}
#bloque-2{
    text-align: start;
}


/*--------------------------------------------------Sucursal--------------------------------------------------*/


.contenedor-Sucursal {
    margin: 0 auto;
    text-align: center;
    background-image: url(/img/food/food-2.jpg);
    background-size: cover;
    padding: 100px 20px;
    color: whitesmoke;
}

.contenedor-Sucursal h2 {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.contenedor-Sucursal h1 {
    font-size: 56px;
    font-weight: 700;
    color: rgb(252, 177, 86);
    margin: 10px 0;
}

.contenedor-Sucursal p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contenedor-Sucursal input{
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------*/

/* Tablet horizontal */
@media (max-width: 1080px) {
    .container-header{
        justify-content: center;
    }
}
/* Tablet vertical */
@media (max-width: 768px) {
      
    .footer-left{
        width: 150px;  /* Ancho reducido en móviles pequeños */
        height: 150px; /* Altura reducida en móviles pequeños */
  }
  .footer-middle, .footer-right {
      margin: auto;
      text-align: center;
  }

  .footer-copyright {
      font-size: 10px;
      padding: 5px;
  }

  .container-footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .contenedor-Cafes .informacion-Cafe{
    flex-direction: column;
    width: 100%;
}

.contenedor-Cafes .informacion-Cafe article{
    text-align: center;
    margin: auto;
}

.informacion-Cafe img{
    width: 85%;
}

.productos{
    flex-direction: column;
}
.productos article img{
    width: 500px;
}

.container-header {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.nav ul {
    flex-direction: column;
    gap: 8px;
}

}
/* Mobil 1 */
@media (max-width: 480px) {


    .contenedor-Recetas{
        flex-direction: column;
    }


}
/* Mobil 2 */
@media (max-width: 375px) {

}